<header class="bg-dark">
  <div class="text-light fs-2 fw-bold fst-italic">
    <span>Shopping Point</span>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group btn-group-lg me-3" role="group">
      <button type="button" class="btn btn-outline-light">Home</button>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-light dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          Categories
        </button>
      </div>
    </div>
    <div class="btn-group btn-group-lg me-2" role="group">
      <button type="button" class="btn btn-outline-light">Pay</button>
    </div>
  </div>
</header>
