<div class="card">
  <div class="card-header">Header</div>

  <div><img src="" alt="" class="card-img-top" /></div>

  <div class="card-body">
    <h5 class="card-title title">Title</h5>
    <h6 class="card-subtitle my-2 text-primary">12 products are available</h6>
    <p class="cart-text description">Description</p>
  </div>

  <div class="card-body">
    <h5 class="card-title text-success">
      Final price
      <span class="text-primary">-20%</span>
    </h5>
    <h6 class="card-subtitle text-danger text-decoration-line-through">
      POriginal Price
    </h6>
  </div>
</div>
